@page "/"

@using System.IO
@using ElectronNET.API
@using ElectronNET.API.Entities

<h1>Hello, world!</h1>

Welcome to your new app.
@if (_files != null)
{
    @foreach (var f in _files)
    {
        <p>@f</p>
    }
}

<button @onclick="test">Show Desktop</button>

@code
{

    public List<string> _files { get; set; } = null;

    public async Task test()
    {
        string path = await Electron.App.GetPathAsync(PathName.desktop);
        var files = Directory.GetFiles(path);

        _files = files.ToList();
        StateHasChanged();
    }

}

